---
import Layout from '../layouts/Layout.astro';
import { Picture } from 'astro:assets';
import theTeam from '../assets/team.jpg';
import { waitlistUrl } from '../waitlist';
---

<Layout
  meta={{ path: '/about-us' }}
  header={{
    show: true,
    links: [
      { href: '/', text: 'Close', icon: 'close' },
      {
        href: waitlistUrl,
        text: 'Join waitlist',
        icon: 'arrow',
        wideOnly: true,
      },
    ],
  }}
  footer={{ show: true }}
>
  <main>
    <section id="team">
      <h1>Hello <span aria-hidden="true">👋</span></h1>

      <div class="team-photo">
        <Picture
          src={theTeam}
          layout="full-width"
          formats={['avif', 'webp']}
          alt="The team: Marius, Simen, and Martin."
          priority={true}
        />
      </div>

      <div class="intro">
        <div class="text">
          <p>Simen and Martin: Two builders.</p>
          <p>
            Between us, we’ve been at Finn.no, AYR, Folio and Bjerk. We’ve seen
            what works, what doesn’t, and what should exist but doesn’t (yet).
          </p>

          <p class="emphasis">So we're building Sokkel!</p>
        </div>

        <dl class="contact">
          <dt>Email:</dt>
          <dd>
            <a href="mailto:hello@sokkel.io">hello@sokkel.io</a>
          </dd>

          <dt>Call:</dt>
          <dd>
            <a href="tel:+4795308087">+47 953 08 087</a>
          </dd>

          <dt>Chat:</dt>
          <dd>
            <a
              href="https://linkedin.com/company/sokkel"
              rel="noopener noreferrer">LinkedIn</a
            >
          </dd>
        </dl>
      </div>
    </section>
  </main>
</Layout>

<style>
  main {
    margin-top: calc(var(--spacing) * 27);
    margin-bottom: calc(var(--spacing) * 32);
    padding-inline: calc(var(--spacing) * 6);

    @media (min-width: 40rem) {
      margin-top: calc(var(--spacing) * 20);
      padding-inline: calc(var(--spacing) * 10);
    }

    @media (min-width: 60rem) {
      /* Adjust the margin to the footer when the image moves to the side. */
      margin-bottom: calc(var(--spacing) * 46);
    }

    display: grid;
    gap: calc(var(--spacing) * 12);

    #team {
      display: grid;
      gap: calc(var(--spacing) * 6);

      grid-template-areas:
        'title'
        'team-photo'
        'intro';
      @media (min-width: 60rem) {
        grid-template-areas:
          'title team-photo'
          'intro team-photo';
        grid-template-rows: auto 1fr;
        grid-template-columns: 345px 1fr;
      }

      h1 {
        grid-area: title;

        margin: 0;
        font-weight: var(--font-weight-extrabold);
        font-size: var(--text-3xl-font-size);
        line-height: var(--text-3xl-line-height);
      }

      .team-photo {
        height: fit-content;
        grid-area: team-photo;
        border-radius: var(--radius-2xl);
        overflow: hidden;
      }

      .intro {
        grid-area: intro;

        display: flex;
        flex-direction: column;
        gap: calc(var(--spacing) * 14);

        .text {
          .emphasis {
            font-weight: var(--font-weight-medium);
          }
        }

        .contact {
          grid-area: contact;

          margin: 0;
          display: grid;
          grid-template-columns: auto 1fr;
          column-gap: calc(var(--spacing) * 4);
          row-gap: calc(var(--spacing) * 2);

          dd {
            margin: 0;

            a {
              color: var(--color-blue-500);
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
</style>
