---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="container">
    <main>
      <div class="content">
        <p>
          No one starts a company just to do DevOps. Or, we did. So you don’t
          have to, because:
        </p>
      </div>
    </main>
  </div>
</Layout>
