---
import Layout from "../layouts/Layout.astro";
import Swipeables from "../components/swipeables.astro";
import Header from "../components/header.astro";
---

<Layout>
  <Header link={{ href: "/", text: "Close" }} />
  <main>
    <Swipeables />
  </main>
</Layout>
