---
import Layout from "../layouts/Layout.astro";
import Swipeables from "../components/swipeables.astro";
---

<Layout>
  <div class="container">
    <main>
      <div class="content">
        <Swipeables />
      </div>
    </main>
  </div>
</Layout>
