---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import WaitlistButton from '../components/waitlist-button.astro';
import Footer from '../components/footer.astro';
---

<Layout
  schema={[
    {
      '@context': 'https://schema.org',
      '@type': 'WebSite',
      name: 'Sokkel',
      alternateName: ['Sokkel', 'Sokky', 'sokkel.io'],
      url: 'https://sokkel.io/',
    },
    {
      '@context': 'https://schema.org',
      '@type': 'Organization',
      name: 'Sokkel',
      url: 'https://sokkel.io/',
      logo: 'https://sokkel.io/assets/logo.svg',
      sameAs: ['https://www.linkedin.com/company/sokkel'],
      image: 'https://sokkel.io/assets/team.jpg',
      description:
        'Sokkel is the foundation and building blocks for managing your applications, smooooothly.',
      telephone: '+4795308087',
      email: 'hello@sokkel.io',
      address: {
        '@type': 'PostalAddress',
        streetAddress: 'Arbins gate 11',
        addressLocality: 'Oslo',
        addressCountry: 'NO',
        addressRegion: 'Oslo',
        postalCode: '0253',
      },
      vatID: 'NO935108500',
      iso6523Code: '0192:935108500',
    },
  ]}
>
  <Header link={{ text: 'About us', href: '/about-us' }} />

  <main>
    <section>
      <h1>Effortless software delivery</h1>
      <h2>
        The AI-powered <span aria-hidden="true">✨</span> platform that turns cloud complexity into clarity.
      </h2>
      <WaitlistButton />
    </section>

    <img
      class="illustration lambo-tape"
      src="/assets/lambo-tape.gif"
      alt="Burning Lamborghini with duct tape."
    />

    <h2>
      We are on a mission to make DevOps something you <i>don't</i> have to worry
      about.
    </h2>
  </main>

  <Footer
    links={[
      { href: '/about-us', text: 'About us' },
    ]}
    }
  />
</Layout>

<style>
</style>
