---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import WaitlistButton from '../components/waitlist-button.astro';
import Footer from '../components/footer.astro';

type PainSource = { title: string; url: string };
type Pain = { title: string; body: string; sources: PainSource[] };

const pains: Pain[] = [
  { title: 'Platform-talent crunch', body: '37 % of firms still can\'t hire the DevOps skills they need, stalling roadmaps and inflating salaries.', sources: [{ title: 'IT Pro', url: 'todo' }] },
  { title: 'Cloud-cost black hole', body: 'Hours disappear hunting idle services; 21–50 % of spend is pure waste for 78 % of companies.', sources: [{ title: 'Tech Monitor', url: 'todo' }, { title: 'BetaNews', url: 'todo'}] },
  { title: 'Security roulette', body: 'One breach can wipe you out; SMEs face an average hit of $3.3 M per incident.', sources: [{ title: 'newsroom.ibm.com', url: 'todo' }] },
  { title: 'Tool-chain time sink', body: 'Nearly 40 % of engineering time vanishes maintaining internal & delivery tools instead of shipping features.', sources: [{ title: 'DZone', url: 'todo' }] },
];
---

<Layout
  schema={[
    {
      '@context': 'https://schema.org',
      '@type': 'WebSite',
      name: 'Sokkel',
      alternateName: ['Sokkel', 'Sokky', 'sokkel.io'],
      url: 'https://sokkel.io/',
    },
    {
      '@context': 'https://schema.org',
      '@type': 'Organization',
      name: 'Sokkel',
      url: 'https://sokkel.io/',
      logo: 'https://sokkel.io/assets/logo.svg',
      sameAs: ['https://www.linkedin.com/company/sokkel'],
      image: 'https://sokkel.io/assets/team.jpg',
      description:
        'Sokkel is the foundation and building blocks for managing your applications, smooooothly.',
      telephone: '+4795308087',
      email: 'hello@sokkel.io',
      address: {
        '@type': 'PostalAddress',
        streetAddress: 'Arbins gate 11',
        addressLocality: 'Oslo',
        addressCountry: 'NO',
        addressRegion: 'Oslo',
        postalCode: '0253',
      },
      vatID: 'NO935108500',
      iso6523Code: '0192:935108500',
    },
  ]}
>
  <Header link={{ text: 'About us', href: '/about-us' }} />

  <main>
    <section>
      <h1>Effortless software delivery</h1>
      <h2>
        The AI-powered <span aria-hidden="true">✨</span> platform that turns cloud complexity into clarity.
      </h2>
      <WaitlistButton />
    </section>

    <img
      class="illustration lambo-tape"
      src="/assets/burning-car-with-duct-tape.gif"
      alt="Burning Lamborghini with duct tape."
    />

    <p>
      Simple setups. Always optimized. Change-aware and insight-driven. A new, worryless standard for software delivery.
    </p>
    <p id="smooth">smooooooooooooooooooooooooooooooth.</p>

    <section id="mission" class="card">
      <h2>
        Our mission is simple: To make software delivery effortless and worryless — by turning cloud complexity into
        clarity with AI, automation, and smart defaults that just work.
      </h2>
      <WaitlistButton />
    </section>

    <section id="pains">
      <h2>Software delivery today? Kinda painful.</h2>
      {pains.map(pain => (
        <div class="card pain">
          <h3>{pain.title}</h3>
          <p>{pain.body}</p>
          <div class="sources">
            {pain.sources.map(link => (
              <a href={link.url} rel="noopener noreferrer">{link.title}</a>
            ))}
          </div>
        </div>
      ))}
    </section>

    <section class="comic">
      <div class="title">
        <h2>Let us tell you a story we hear way too often…</h2>
        <p>as a classic comic strip</p>
      </div>
      <p>This is you, creating your best software ever:</p>
      <div class="strip">
        <img alt="todo" src="/assets/comic-panel-1.png" />
        <img alt="todo" src="/assets/comic-panel-2.png" />
        <img alt="todo" src="/assets/comic-panel-3.png" />
        <img alt="todo" src="/assets/comic-panel-4.png" />
      </div>
    </section>

    <section class="comic">
      <div class="title">
        <h2>So, what's the alternative?</h2>
        <p>TL;DR: It's AI agent Stacky!</p>
      </div>
      <p>Think of Sokkel as a bar.</p>
      <div class="strip">
        <img alt="todo" src="/assets/bartender.gif">
      </div>

      <p>And Stacky (our AI Agent) as your bartender</p>
      <div class="strip">
        <div class="stacky">
          <img alt="todo" class="body" src="/assets/stacky-peekaboo.png">
          <img alt="todo" class="eyes" src="/assets/stacky-eyes.gif">
        </div>
      </div>
    </section>
  </main>

  <Footer
    links={[
      { href: '/about-us', text: 'About us' },
    ]}
    }
  />
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  #smooth {
    background: linear-gradient(270deg, #CCCCFF 0%, #9999FF 13%, #6666FF 25%, #3333FF 38%, #0000FF 50%, #0000CC 63%, #000099 76%, #000066 88%, #000033 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .card {
    padding: 1rem;
    border-radius: 1rem;
  }

  #mission {
    max-height: 500px; /* The height of the background animation. */
    padding: 8rem 1.5rem;
    background-image: url(/assets/flow-2.gif);
    background-position: center;
    background-repeat: no-repeat;
    color: hsl(0, 0%, 98%);
    text-align: center;

    h2 {
      margin-bottom: 1.5rem;
      color: white;
    }
  }

  #pains {
    display: flex;
    flex-direction: column;;
    gap: 1rem;

    .pain {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      background-color: hsl(0, 90%, 97%);

      .sources {
        display: flex;
        gap: 0.5rem;

        a {
          width: fit-content;
          padding: 0.125rem 0.5rem;
          border-radius: 1rem;
          background-color: hsl(0, 0%, 0%);
          color: hsl(0, 0%, 100%);
          text-decoration: none;
          font-size: 0.75rem;
          text-transform: uppercase;
        }
      }
    }
  }

  .comic {
    .title {
      text-align: center;

      p {
        color: hsl(0, 0%, 60%)
      }
    }

    .strip {
      padding: 0.125rem;
      display: flex;
      flex-direction: column;
      gap: 0.125rem;
      background-color: hsl(0, 0%, 10%);
    }
  }

  .stacky {
    display: grid;
    margin: 0 auto;

    .body, .eyes {
      grid-column: 1;
      grid-row: 1;
    }

    .eyes {
      position: relative;
      max-width: 35%;
      top: 30%;
      justify-self: center;
    }
  }

</style>
