---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import WaitlistButton from '../components/waitlist-button.astro';
import Problems from '../components/problems.astro';
import Footer from '../components/footer.astro';
import { waitlistUrl } from '../waitlist';
---

<Layout
  schema={[
    {
      '@context': 'https://schema.org',
      '@type': 'WebSite',
      name: 'Sokkel',
      alternateName: ['Sokkel', 'Sokky', 'sokkel.io'],
      url: 'https://sokkel.io/',
    },
    {
      '@context': 'https://schema.org',
      '@type': 'Organization',
      name: 'Sokkel',
      url: 'https://sokkel.io/',
      logo: 'https://sokkel.io/assets/logo.svg',
      sameAs: ['https://www.linkedin.com/company/sokkel'],
      image: 'https://sokkel.io/assets/team.jpg',
      description:
        'Sokkel is the foundation and building blocks for managing your applications, smooooothly.',
      telephone: '+4795308087',
      email: 'hello@sokkel.io',
      address: {
        '@type': 'PostalAddress',
        streetAddress: 'Arbins gate 11',
        addressLocality: 'Oslo',
        addressCountry: 'NO',
        addressRegion: 'Oslo',
        postalCode: '0253',
      },
      vatID: 'NO935108500',
      iso6523Code: '0192:935108500',
    },
  ]}
>
  <Header link={{ text: 'About us', href: '/about-us' }} />

  <main>
    <section id="hero">
      <h1 class="title">Effortless<br />Software<br />Delivery</h1>
      <div class="tag">
        <div class="subtitle">
          <h2>
            The AI-powered <span aria-hidden="true">✨</span> Software<br
            />Delivery platform that turns<br />complexity into clarity.
          </h2>
          <WaitlistButton />
        </div>
        <div class="stacky-intro">
          <div class="content">
            <img class="stacky" alt="Stacky." src="/assets/stacky.svg" />
            <div class="speech-bubble">
              <img
                aria-hidden="true"
                alt="Speech bubble arrow pointing to Stacky."
                class="arrow"
                src="/assets/speech-bubble-arrow.svg"
              />
              <p class="card message">
                Hi <span aria-hidden="true">👋</span> I'm Stacky, your AI-powered
                Software Delivery sidekick.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="abstract">
      <div id="mission" class="pitch flow">
        <div class="background">
          <div class="content">
            <h2 class="title">We are on a mission</h2>
            <p class="ingress">
              To set a new Software Delivery standard for SMEs
            </p>
            <p class="body">
              Today, small teams are blocked by the complexity of just keeping
              software running. Sokkel automates the busywork and provides
              instant clarity, so they can stop firefighting and build with
              confidence.
            </p>
            <WaitlistButton inverted />
          </div>
        </div>
      </div>

      <div id="core-components">
        <div id="simple-setups" class="component flow">
          <div class="background">
            <div class="content">
              <h2 class="title">Simple setups</h2>
              <p class="body">
                From chaos to clarity in minutes. Migrations without headaches.
              </p>
            </div>
          </div>
        </div>
        <div id="insight-driven" class="component flow">
          <div class="background">
            <div class="content">
              <h2 class="title">Insight-driven</h2>
              <p class="body">
                Live insights, full clarity. Know what's running and how it all
                fits together.
              </p>
            </div>
          </div>
        </div>
        <div id="always-optimized" class="component flow">
          <div class="background">
            <div class="content">
              <h2 class="title">Always optimized</h2>
              <p class="body">
                Stacky's always on. Tuning your setup and keeping things smooth.
              </p>
            </div>
          </div>
        </div>
        <div id="change-aware" class="component flow">
          <div class="background">
            <div class="content">
              <h2 class="title">Change-aware</h2>
              <p class="body">
                Stay effortlessly in sync. Every change surfaced, exactly when
                it matters.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <Problems />

    <section id="promise" class="pitch flow">
      <div class="background">
        <div class="content">
          <img alt="Sokkel." src="/assets/logo-monochrome.svg" />
          <h2 class="ingress">
            Not just a platform. A promise. Effortless. Worryless. Smooooth.
          </h2>
          <WaitlistButton inverted />
        </div>
      </div>
    </section>

    <section id="status" class="card">
      <div class="text">
        <h2 class="title"><span aria-hidden="true">🟢</span> Building mode</h2>
        <p class="body">
          We are currently building, testing, and validating the beta version of
          Sokkel and onboarding pilots.
        </p>
      </div>
      <WaitlistButton wide={true} />
    </section>
  </main>

  <Footer
    links={[
      { href: '/about-us', text: 'About us' },
      { href: waitlistUrl, text: 'Join waitlist' },
    ]}
  />
</Layout>

<style>
  main {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: calc(var(--spacing) * 32);
    overflow-x: hidden;
  }
</style>

<style>
  .card {
    border-radius: var(--radius-2xl);
    padding: calc(var(--spacing) * 6);
  }

  #hero {
    width: 100%;
    display: grid;
    gap: calc(var(--spacing) * 27);

    @media (min-width: 40rem) {
      grid-template-columns: 1fr 1fr;
    }

    .title {
      margin: 0;
      font-weight: var(--font-weight-extrabold);
      line-height: 100%;
      font-size: var(--text-6xl-font-size);
      @media (min-width: 60rem) {
        font-size: var(--text-9xl-font-size);
      }

      text-align: center;
      @media (min-width: 40rem) {
        text-align: start;
      }

      color: transparent;
      background-image: url('/assets/flow-title.gif');
      background-repeat: no-repeat;
      background-size: cover;
      background-clip: text;
    }

    .tag {
      display: flex;
      flex-direction: column;
      gap: calc(var(--spacing) * 27);
      align-items: center;
      text-align: center;

      @media (min-width: 40rem) {
        align-items: end;
        justify-content: space-between;
        text-align: start;
      }

      .subtitle {
        display: flex;
        flex-direction: column;
        gap: calc(var(--spacing) * 8);
        align-items: center;
        @media (min-width: 40rem) {
          text-align: end;
          align-items: end;
        }

        h2 {
          margin: 0;
          font-size: var(--text-xl-font-size);
          line-height: var(--text-xl-line-height);
          font-weight: var(--font-weight-normal);
          @media (min-width: 40rem) {
            font-weight: var(--font-weight-bold);
          }
        }
      }

      .stacky-intro {
        display: flex;
        justify-content: end;

        .content {
          max-width: 18rem;
          @media (min-width: 40rem) {
            max-width: 100%;
          }
          @media (min-width: 60rem) {
            max-width: 75%;
          }

          display: flex;
          gap: calc(var(--spacing) * 6);
          align-items: center;

          flex-direction: column;
          @media (min-width: 40rem) {
            flex-direction: row-reverse;
          }

          .stacky {
            width: 75%;
            @media (min-width: 40rem) {
              width: 7.5rem;
            }
          }

          .speech-bubble {
            display: flex;
            align-items: center;
            flex-direction: column;
            @media (min-width: 40rem) {
              flex-direction: row-reverse;
            }

            .arrow {
              position: relative;
              top: 8px;

              @media (min-width: 40rem) {
                top: unset;
                right: 8px;
              }
            }

            .message {
              margin: 0;
            }
          }
        }
      }
    }
  }

  .pitch {
    width: 100%;

    .content {
      padding-block: calc(var(--spacing) * 32);
      padding-inline: calc(var(--spacing) * 6);

      text-align: center;
      display: flex;
      flex-direction: column;
      gap: calc(var(--spacing) * 6);
      align-items: center;

      .title {
        margin: 0;
        font-weight: var(--font-weight-medium);
        font-size: var(--text-lg-font-size);
        line-height: var(--text-lg-line-height);
      }

      .ingress {
        margin: 0;
        max-width: 56.25rem;
        font-weight: var(--font-weight-extrabold);
        font-size: var(--text-6xl-font-size);
        line-height: var(--text-6xl-line-height);
      }

      .body {
        max-width: 38.875rem;
        font-weight: var(--font-weight-normal);
        font-size: var(--text-lg-font-size);
        line-height: var(--text-lg-line-height);
      }
    }
  }

  .flow {
    border-radius: var(--radius-2xl);
    overflow-x: hidden;

    .background {
      height: 100%;
      background-size: calc(100% + 20px) calc(100% + 20px);
      background-position: -10px -10px;
      background-repeat: no-repeat;

      .content {
        /* Dim the animated background a bit to make the text more readable. */
        height: 100%;
        background-color: var(--color-base-primary-alpha-60);
        color: var(--color-base-background);
      }
    }
  }

  #promise .background {
    background-image: url(/assets/flow-promise.gif);
  }

  #abstract {
    display: grid;
    gap: calc(var(--spacing) * 4);

    #mission .background {
      background-image: url(/assets/flow-mission.gif);
    }

    #core-components {
      display: grid;
      gap: calc(var(--spacing) * 4);
      @media (min-width: 40rem) {
        grid-template-columns: 1fr 1fr;
      }
      @media (min-width: 64rem) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }

      .component {
        .content {
          padding-block: calc(var(--spacing) * 32);
          padding-inline: calc(var(--spacing) * 8);

          display: grid;
          gap: calc(var(--spacing) * 2);
          text-align: center;

          .title {
            margin: 0;
            font-size: var(--text-base-font-size);
            line-height: var(--text-base-line-height);
            font-weight: var(--font-weight-bold);
          }

          .body {
            margin: 0;
            font-size: var(--text-2xl-font-size);
            line-height: var(--text-2xl-line-height);
            font-weight: var(--font-weight-normal);
          }
        }

        &#simple-setups .background {
          background-image: url(/assets/flow-simple-setups.gif);
        }

        &#insight-driven .background {
          background-image: url(/assets/flow-insight-driven.gif);
        }

        &#always-optimized .background {
          background-image: url(/assets/flow-always-optimized.gif);
        }

        &#change-aware .background {
          background-image: url(/assets/flow-change-aware.gif);
        }
      }
    }
  }

  #status {
    max-width: 40rem;
    border: 2px solid var(--color-base-border);
    display: grid;
    gap: calc(var(--spacing) * 8);

    .text {
      .title {
        margin: 0;
        font-weight: var(--font-weight-semibold);
        font-size: var(--text-base-font-size);
        line-height: var(--text-base-line-height);
      }

      .body {
        color: var(--color-base-muted-foreground);
      }
    }
  }
</style>
