---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Hero from '../components/hero.astro';
import StackyIntro from '../components/stacky-intro.astro';
import Mission from '../components/mission.astro';
import Problems from '../components/problems.astro';
import Footer from '../components/footer.astro';
import { waitlistUrl } from '../waitlist';
import Promise from '../components/promise.astro';
---

<Layout
  schema={[
    {
      '@context': 'https://schema.org',
      '@type': 'WebSite',
      name: 'Sokkel',
      alternateName: ['Sokkel', 'Sokky', 'sokkel.io'],
      url: 'https://sokkel.io/',
    },
    {
      '@context': 'https://schema.org',
      '@type': 'Organization',
      name: 'Sokkel',
      url: 'https://sokkel.io/',
      logo: 'https://sokkel.io/assets/logo.svg',
      sameAs: ['https://www.linkedin.com/company/sokkel'],
      image: 'https://sokkel.io/assets/team.jpg',
      description:
        'Sokkel is the foundation and building blocks for managing your applications, smooooothly.',
      telephone: '+4795308087',
      email: 'hello@sokkel.io',
      address: {
        '@type': 'PostalAddress',
        streetAddress: 'Arbins gate 11',
        addressLocality: 'Oslo',
        addressCountry: 'NO',
        addressRegion: 'Oslo',
        postalCode: '0253',
      },
      vatID: 'NO935108500',
      iso6523Code: '0192:935108500',
    },
  ]}
>
  <Header
    links={[
      { text: 'About us', href: '/about-us', wideOnly: false },
      { text: 'Join waitlist', href: waitlistUrl, wideOnly: true },
    ]}
  />

  <main>
    <Hero />
    <StackyIntro />
    <Mission />
    <Problems />
    <Promise />
  </main>

  <Footer
    links={[
      { href: '/about-us', text: 'About us' },
      { href: waitlistUrl, text: 'Join waitlist' },
    ]}
  />
</Layout>

<style>
  main {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: calc(var(--spacing) * 32);
    overflow-x: hidden;
  }
</style>

<style>
  #status {
    max-width: 40rem;
    border: 2px solid var(--color-base-border);
    display: grid;
    gap: calc(var(--spacing) * 8);

    .text {
      .title {
        margin: 0;
        font-weight: var(--font-weight-semibold);
        font-size: var(--text-base-font-size);
        line-height: var(--text-base-line-height);
      }

      .body {
        color: var(--color-base-muted-foreground);
      }
    }
  }
</style>
