---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <img src="assets/logo.svg" alt="XOPS" class="logo" />
  <p class="intro">
    We believe that DevOps <span
      >(Application Management, Software Delivery Engineering, Agile IT
      Operations, CI/CD Automation, GitOps—whatever terminology you prefer)</span
    > is in need of a renaissance.
  </p>
  <p>
    Sokkel is the foundation for smarter, smoother software development.
    Reliable DevOps that lets your team create, ship, and innovate without
    friction—because infrastructure shouldn’t belong to just one developer, but
    to the whole team.
  </p>
</Layout>

<style>
  .logo {
    width: 100px;
  }
  .intro {
    max-width: 60ch;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.3;
  }

  .intro span {
    color: #888888;
  }
</style>
