---
import WaitlistButton from './waitlist-button.astro';
---

<section id="abstract">
  <div id="mission" class="pitch flow">
    <div class="background">
      <div class="content">
        <h2 class="title">We are on a mission</h2>
        <p class="ingress">To set a new Software Delivery standard for SMEs</p>
        <p class="body">
          Today, small teams are blocked by the complexity of just keeping
          software running. Sokkel automates the busywork and provides instant
          clarity, so they can stop firefighting and build with confidence.
        </p>
        <WaitlistButton inverted />
      </div>
    </div>
  </div>

  <div id="core-components">
    <div id="simple-setups" class="component flow">
      <div class="background">
        <div class="content">
          <h2 class="title">Simple setups</h2>
          <p class="body">
            From chaos to clarity in minutes. Migrations without headaches.
          </p>
        </div>
      </div>
    </div>
    <div id="insight-driven" class="component flow">
      <div class="background">
        <div class="content">
          <h2 class="title">Insight-driven</h2>
          <p class="body">
            Live insights, full clarity. Know what's running and how it all fits
            together.
          </p>
        </div>
      </div>
    </div>
    <div id="always-optimized" class="component flow">
      <div class="background">
        <div class="content">
          <h2 class="title">Always optimized</h2>
          <p class="body">
            Stacky's always on. Tuning your setup and keeping things smooth.
          </p>
        </div>
      </div>
    </div>
    <div id="change-aware" class="component flow">
      <div class="background">
        <div class="content">
          <h2 class="title">Change-aware</h2>
          <p class="body">
            Stay effortlessly in sync. Every change surfaced, exactly when it
            matters.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  #abstract {
    display: grid;
    gap: calc(var(--spacing) * 4);

    #mission .background {
      background-image: url(/assets/flow-mission.gif);
    }

    #core-components {
      display: grid;
      gap: calc(var(--spacing) * 4);
      @media (min-width: 40rem) {
        grid-template-columns: 1fr 1fr;
      }
      @media (min-width: 64rem) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }

      .component {
        .content {
          padding-block: calc(var(--spacing) * 32);
          padding-inline: calc(var(--spacing) * 8);

          display: grid;
          gap: calc(var(--spacing) * 2);
          text-align: center;

          .title {
            margin: 0;
            font-size: var(--text-base-font-size);
            line-height: var(--text-base-line-height);
            font-weight: var(--font-weight-bold);
          }

          .body {
            margin: 0;
            font-size: var(--text-2xl-font-size);
            line-height: var(--text-2xl-line-height);
            font-weight: var(--font-weight-normal);
          }
        }

        &#simple-setups .background {
          background-image: url(/assets/flow-simple-setups.gif);
        }

        &#insight-driven .background {
          background-image: url(/assets/flow-insight-driven.gif);
        }

        &#always-optimized .background {
          background-image: url(/assets/flow-always-optimized.gif);
        }

        &#change-aware .background {
          background-image: url(/assets/flow-change-aware.gif);
        }
      }
    }
  }
</style>
