---
const { emoji, title } = Astro.props;
---

<article>
  <header>
    <div class="emoji" aria-hidden="true" set:text={emoji} />
    <h3>{title}</h3>
  </header>
  <p>
    <slot />
  </p>
</article>

<style>
  article {
    background-color: #eee;
    border-radius: 0.75rem;
    padding: 1.5rem;
    isolation: isolate;
    display: grid;
    gap: 0.875rem;

    .emoji {
      margin: 0;
      font-size: 1rem;
    }

    h3 {
      margin: 0;
      font-size: 1.1rem;
      font-weight: 800;
      color: hsl(0, 0%, 20%);
      line-height: 1.6rem;
      text-wrap: pretty;
    }

    p {
      margin: 0;
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.3rem;
    }
  }
</style>
