---
const { emoji, title } = Astro.props;
---

<article>
  <header>
    <h2>
      <span aria-hidden="true" set:text={emoji} />
      {title}
    </h2>
  </header>
  <div class="content">
    <slot />
  </div>
</article>

<style>
  article {
    background-color: #eee;
    border-radius: 0.75rem;
    padding: 1.5rem;
    box-shadow: 0;
    isolation: isolate;
    display: grid;
    gap: 0.875rem;
  }

  h2 {
    font-size: 1rem;
    font-weight: 600;
    color: hsl(0, 0%, 20%);
    margin: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    line-height: 1.5rem;
    text-wrap: pretty;
  }

  .content {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .content > :global(p) {
    margin: 0px;
  }
</style>
