---
import WaitlistButton from "../components/waitlist-button.astro";
---

<section class="contact" id="contact">
  <h2>Let’s talk and connect</h2>
  <p>
    We’re building something exciting at Sokkel and are looking for like-minded
    DevOps nerds, potential pilot users, design partners and future colleagues
    to join the journey!
  </p>

  <WaitlistButton />
  <dl>
    <dt>Email:</dt>
    <dd>
      <a href="mailto:hello@sokkel.co">hello@sokkel.co</a>
    </dd>

    <dt>Call:</dt>
    <dd>
      <a href="tel:+4795308087">+47 953 08 087</a>
    </dd>

    <dt>Chat:</dt>
    <dd>
      <a href="https://linkedin.com/company/sokkel">LinkedIn</a>
    </dd>
  </dl>

  <p class="contact-message">
    Reach out – we'd love to hear from you!
    <span aria-hidden="true"> &lt;3</span>
  </p>
</section>

<style>
  .contact {
    line-height: 1.5rem;
    background-color: #ccccff;

    border-radius: 1rem;
    padding: 1.5rem 1.5rem 2rem;
  }

  /* only mobile */
  @media (max-width: 600px) {
    .contact {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  dl {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem 1rem;
    margin-block-end: 1rem;
  }

  dt {
    font-weight: 600;
  }

  dd {
    margin: 0;
  }

  a {
    text-decoration: underline;
    color: black;
  }

  .contact-message {
    font-style: italic;
    margin-block-end: 0;
  }
</style>
