---
import type { ImageMetadata } from 'astro';

type Props = {
  background: ImageMetadata;
};

const { background } = Astro.props;
---

<div class="flow">
  <div class="background">
    <div class="content">
      <slot />
    </div>
  </div>
</div>

<style define:vars={{ background: `url(${background.src})` }}>
  .flow {
    border-radius: var(--radius-2xl);
    overflow: hidden;

    .background {
      height: 100%;
      background-image: var(--background);
      background-size: calc(100% + 20px) calc(100% + 20px);
      background-position: -10px -10px;
      background-repeat: no-repeat;

      .content {
        /* Dim the animated background a bit to make the text more readable. */
        height: 100%;
        background-color: var(--color-base-primary-alpha-60);
        color: var(--color-base-background);

        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
</style>
