---
const currentYear = new Date().getFullYear();
---

<div>
  <span>&copy; Sokkel AS – 2025</span>
  <span>Org nr: 935108500</span>
</div>

<style>
  div {
    padding-block: 2rem;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    color: #737373;
  }
</style>
