---
type Props = {
  links: { href: string; text: string }[];
};

const { links } = Astro.props;
const currentYear = new Date().getFullYear();
---

<footer>
  <img src="/assets/logo.svg" alt="Sokkel." class="logo" />
  <nav>
    <a href="#">
      Take me to the top
      <img class="arrow" alt="Arrow pointing up." src="/assets/arrow-up.svg">
    </a>
    {links.map((link) => (
      <a href={link.href}>
        {link.text} <img class="arrow right" alt="Arrow pointing right." src="/assets/arrow-up.svg">
      </a>
    ))}
  </nav>
  <div id="company-info">
    <span>&copy; Sokkel AS – {currentYear}</span>
    <span>Org nr: 935&nbsp;108&nbsp;500</span>
  </div>
</footer>

<style>
  footer {
    display: grid;
    gap: 3rem;

    text-align: left;
    font-weight: 400;

    .logo {
      height: 16px;
      width: 106px;
    }

    nav {
      display: flex;
      flex-direction: column;
      gap: calc(var(--spacing) * 4);

      color: blue;
      a:visited {
        color: blue;
      }

      a {
        display: flex;
        gap: calc(var(--spacing) * 2);
        align-items: center;
      }

      .arrow {
        display: inline;
      }

      .arrow.right {
        transform: rotate(90deg);
      }
    }

    #company-info {
      display: flex;
      justify-content: space-between;
      color: #737373;
    }
  }
</style>
