---
type Props = {
  links: { href: string; text: string }[];
};

const { links } = Astro.props;
const currentYear = new Date().getFullYear();
---

<footer>
  <img src="/assets/logo.svg" alt="Sokkel." class="logo" />
  <nav>
    <a href="#">Take me to the top ⬆</a>
    {links.map((link) => <a href={link.href}>{link.text}</a>)}
  </nav>
  <div id="company-info">
    <span>&copy; Sokkel AS – {currentYear}</span>
    <span>Org nr: 935&nbsp;108&nbsp;500</span>
  </div>
</footer>

<style>
  footer {
    display: grid;
    gap: 3rem;

    text-align: left;
    font-weight: 400;

    img {
      height: 16px;
      width: 106px;
    }

    nav {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      color: blue;

      a:visited {
        color: blue;
      }
    }

    #company-info {
      display: flex;
      justify-content: space-between;
      color: #737373;
    }
  }
</style>
