---
type Props = {
  link: { href: string; text: string };
};

const { link } = Astro.props;
---

<header>
  <a id="logo-link" href="/">
    <img src="/assets/logo-symbol.gif" alt="Sokkel." />
  </a>
  <a class="header-link" href={link.href}>{link.text}</a>
</header>

<style>
  header {
    width: 100%;
    min-height: 64px;
    margin-bottom: 2rem;

    display: flex;
    justify-content: space-between;

    img {
      max-width: 64px;
      border-radius: 8px;
    }

    #logo-link {
      font-size: 0; /* The <a> adds 3px to the height if font-size is non-zero. */
    }

    .header-link {
      font-size: 14px;
      color: #0000ff;
    }
  }
</style>
