---
import Arrow from './arrow.astro';
import Close from './close.astro';

type Props = {
  links: {
    icon?: 'arrow' | 'close'; // Defaults to arrow.
    href: string;
    text: string;
    wideOnly?: boolean;
  }[];
};

const { links } = Astro.props;
---

<header>
  <a id="logo-link" href="/">
    <img
      class="icon"
      src="/assets/logo-symbol.gif"
      alt="Logo"
      aria-hidden="true"
    />
    <img class="logo" src="/assets/logo.svg" alt="Sokkel." />
  </a>
  <div class="header-links">
    {
      links.map((link) => {
        const icon =
          link.icon === 'close' ? <Close /> : <Arrow direction="right" />;

        const rel = link.href.startsWith('/')
          ? undefined
          : 'noopener noreferrer';

        return (
          <a
            class:list={[{ 'wide-only': link.wideOnly }]}
            href={link.href}
            rel={rel}
          >
            <span>{link.text}</span>
            {icon}
          </a>
        );
      })
    }
  </div>
</header>

<style>
  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;

    #logo-link {
      display: flex;
      align-items: center;
      gap: calc(var(--spacing)*3.5);
      height: 1.5rem;
      @media(min-width: 40rem) {
        height: 2rem;
      }

      .icon {
        height: 100%;
        border-radius: 0.25rem;
      }

      .logo {
        max-height: 75%;
      }
    }

    .header-links {
      align-self: center;

      display: flex;
      flex-direction: column;
      align-items: end;

      gap: calc(var(--spacing) * 2);

      a {
        display: flex;
        gap: calc(var(--spacing) * 2);

        color: var(--color-base-primary);
        text-decoration: none;

        font-size: var(--text-sm-font-size);
        line-height: 100%;
        font-weight: var(--font-weight-medium);

        &:hover {
          text-decoration: underline;
        }

        &.wide-only {
          display: none;
          @media (min-width: 40rem) {
            display: flex;
          }
        }
      }
    }
  }
</style>
