---
type Props = {
  link: { href: string; text: string };
};

const { link } = Astro.props;
---

<header>
  <a id="logo-link" href="/">
    <img class="icon" src="/assets/logo-symbol.gif" alt="Logo" aria-hidden="true">
    <img class="logo" src="/assets/logo.svg" alt="Sokkel." />
  </a>
  <a class="header-link" href={link.href}>{link.text}</a>
</header>

<style>
  header {
    width: 100%;
    margin-bottom: calc(var(--spacing) * 8);

    display: flex;
    justify-content: space-between;

    #logo-link {
      font-size: 0; /* The <a> adds 3px to the height if font-size is non-zero. */
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .icon {
        max-height: 2rem;
      }

      .logo {
        max-height: 1.5rem;
      }
    }

    .header-link {
      font-size: 1rem;
      color: #0000ff;
    }
  }
</style>
