---
import WaitlistButton from './waitlist-button.astro';
---

<section id="hero">
  <h1 class="title">Effortless<br />Software<br />Delivery</h1>
  <h2 class="subtitle">
    The AI-powered <span aria-hidden="true">✨</span> Software Delivery platform that turns complexity into clarity.
  </h2>
  <WaitlistButton />
</section>

<style>
  #hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 8);
    align-items: center;
    text-align: center;

    .title {
      margin: 0;
      font-weight: var(--font-weight-extrabold);
      line-height: 100%;
      font-size: var(--text-6xl-font-size);
      @media (min-width: 60rem) {
        font-size: var(--text-9xl-font-size);
      }

      color: transparent;
      background-image: url('/assets/flow-title.gif');
      background-repeat: no-repeat;
      background-size: calc(100% + 20px) calc(100% + 20px);
      background-position: -10px -10px;
      background-clip: text;
    }

    .subtitle {
      max-width: 25rem;
      margin-block: 0;
      margin-inline: calc(var(--spacing) * 4);

      font-size: var(--text-lg-font-size);
      line-height: var(--text-lg-line-height);
      font-weight: var(--font-weight-medium);
      @media (min-width: 60rem) {
        font-size: var(--text-xl-font-size);
        line-height: var(--text-xl-line-height);
      }
    }
  }
</style>
