---
export type Props = {
  href: string;
  wide?: true;
  inverted?: true;
};

const { href, wide = false, inverted = false } = Astro.props;
---

<a href={href} class:list={['link-button', { wide, inverted }]}><slot /></a>

<style>
  a {
    width: fit-content;
    padding-inline: calc(var(--spacing) * 4);
    padding-block: calc(var(--spacing) * 2);

    font-weight: var(--font-weight-medium);
    font-size: var(--text-sm-font-size);
    line-height: var(--text-sm-line-height);
    text-align: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    user-select: none;

    background-color: var(--color-base-primary);
    color: var(--color-base-primary-foreground);
  }

  a:hover {
    background:
      linear-gradient(
        0deg,
        var(--color-base-background-alpha-80) 0%,
        var(--color-base-background-alpha-80) 100%
      ),
      var(--color-base-primary);
  }

  a.wide {
    width: auto;
  }

  a.inverted {
    background-color: var(--color-base-primary-foreground);
    color: var(--color-base-primary);
  }

  a.inverted:hover {
    background:
      linear-gradient(
        0deg,
        var(--color-base-primary-alpha-80) 0%,
        var(--color-base-primary-alpha-80) 100%
      ),
      var(--color-base-primary-foreground);
  }
</style>
