---
export type Props = {
  href: string;
  wide?: true;
  inverted?: true;
};

const { href, wide = false, inverted = false } = Astro.props;
---

<a href={href} class:list={['link-button', { wide, inverted }]}><slot /></a>

<style>
  a {
    width: fit-content;
    padding: 10px 16px;
    line-height: 1.5rem;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    user-select: none;

    background-color: var(--color-base-primary);
    color: var(--color-base-primary-foreground);
  }

  a:hover {
    background-color: hotpink;
  }

  a.wide {
    width: auto;
  }

  a.inverted {
    background-color: var(--color-base-primary-foreground);
    color: var(--color-base-primary);
  }

  a.inverted:hover {
    background-color: hotpink;
  }
</style>
