---
import Flow from './flow.astro';
import background from '../assets/flow-mission.gif';
import WaitlistButton from './waitlist-button.astro';
---

<Flow background={background}>
  <div class="pitch">
    <div class="text">
      <h2 class="title">We are on a mission</h2>
      <p class="ingress">To set a new Software&nbsp;Delivery standard for SMEs</p>
      <p class="body">
        Today, small teams are blocked by the complexity of just keeping software running. Sokkel automates
        the busywork and provides instant clarity, so they can stop firefighting and build with confidence.
      </p>
    </div>
    <WaitlistButton inverted />
  </div>
</Flow>

<style>
  .pitch {
    max-width: 56.25rem;
    margin-inline: calc(var(--spacing) * 6);
    padding-block: calc(var(--spacing) * 20);
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 8);
    align-items: center;

    @media (min-width: 60rem) {
      padding-block: calc(var(--spacing) * 28);
      gap: calc(var(--spacing) * 8);
    }

    .text {
      display: grid;
      row-gap: calc(var(--spacing) * 4);

      @media(min-width: 60rem) {
        row-gap: calc(var(--spacing) * 6);
      }

      .title {
        font-weight: var(--font-weight-medium);
        font-size: var(--text-sm-font-size);
        line-height: var(--text-sm-line-height);

        @media(min-width: 60rem) {
          font-size: var(--text-lg-font-size);
          line-height: var(--text-lg-line-height);
        }
      }

      .ingress {
        margin: 0;
        font-weight: var(--font-weight-bold);
        font-size: var(--text-2xl-font-size);
        line-height: var(--text-2xl-line-height);

        @media (min-width: 60rem) {
          font-weight: var(--font-weight-extrabold);
          font-size: var(--text-5xl-font-size);
          line-height: 100%;
        }
      }
    }
  }
</style>
