---
import WaitlistButton from './waitlist-button.astro';
---

<section id="promise" class="pitch flow">
  <div class="background">
    <div class="content">
      <img alt="Sokkel." src="/assets/logo-monochrome.svg" />
      <h2 class="ingress">
        Not just a platform. A promise. Smooooth. Worryless. Effortless Software Delivery.
      </h2>
      <WaitlistButton inverted />
    </div>
  </div>
</section>

<style>
  #promise .background {
    background-image: url(/assets/flow-promise.gif);
  }
</style>
