---
import Flow from './flow.astro';
import logo from '../../public/assets/logo-monochrome.svg?raw';
import background from '../assets/flow-promise.gif';
import WaitlistButton from './waitlist-button.astro';
---

<Flow background={background}>
  <div class="pitch">
    <div class="logo">
      <Fragment set:html={logo} />
    </div>
    <h2 class="title">
      We believe everyone deserves to do work that matters. Sokkel exists to make
      that real for the people who build things.
    </h2>
    <WaitlistButton inverted />
  </div>
</Flow>

<style>
  .pitch {
    max-width: 56.25rem;
    margin-inline: calc(var(--spacing) * 6);
    padding-block: calc(var(--spacing) * 32);
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 6);
    align-items: center;

    @media (min-width: 60rem) {
      padding-block: calc(var(--spacing) * 40);
      gap: calc(var(--spacing) * 8);
    }

    .logo {
      line-height: 0;

      svg {
        width: 100%;
        height: 1.5rem;

        @media (min-width: 60rem) {
          height: 2rem;
        }
      }
    }

    .title {
      margin: 0;
      font-weight: var(--font-weight-bold);
      font-size: var(--text-2xl-font-size);
      line-height: var(--text-2xl-line-height);

      @media (min-width: 60rem) {
        font-weight: var(--font-weight-extrabold);
        font-size: var(--text-5xl-font-size);
        line-height: 100%;
      }
    }
  }
</style>
